{% extends "base.html" %} {% block title %}login{% endblock %}

{% block content %} 
<form method="POST">
<h3 align="center">sign-up</h3>
<div class="form-group">
    <label for="email"> Email address</label>
    <input
    type="text"
    class="form-control"
    id="email"
    placeholder="enter email"
    />

    <div class="form-group">
        <label for="firstName"> Enter firstName</label>
        <input
        type="firstName"
        class="form-control"
        id="firstName"
        placeholder="enter firstName"
        />

    <div class="form-group">
        <label for="password1"> Enter password1</label>
        <input
        type="password1"
        class="form-control"
        id="password1"
        placeholder="enter password1"
        />
        <div class="form-group">
            <label for="password2"> password2 (confirm)</label>
            <input
            type="password2"
            class="form-control"
            id="password1"
            placeholder="confirm password2"
            />

<br/>
<button type="submit" class="btn btn-primary">login</button>

</form>

       {% endblock %}